{% extends "main.twig" %}
{% block id %}about-us{% endblock %}
{% block content %}
    <div id="info">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <i class="heckabig {{ meet_type.icon_url }}"></i>
                </div>
                <div class="col-md-8">
                    <h1>Welcome {{ user.username }}!</h1>
                    <p>
                        You're currently looking for a <b>{{ meet_type.name }}</b>. The results the match your criteria best are listed below.
                    </p>
                    <a href="/preferences" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span> Change activity</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="{% if gender == 'A' %}fa fa-users{% elseif gender == 'F' %}fa fa-female{% else %}fa fa-male{% endif %}"></span> {{ genders[gender] }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for url, name in genders %}
                                {%  if url != gender %}
                                     <li>
                                         <a href="/dashboard/{{ url }}">
                                             <span class="{% if url == 'A' %}fa fa-users{% elseif url == 'F' %}fa fa-female{% else %}fa fa-male{% endif %}"></span>
                                             {{ name }}
                                         </a>
                                     </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-signal"></span> All Ages <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/dashboard/18"><span class="fa fa-caret-right"></span> 18-22</a></li>
                            <li><a href="/dashboard/23"><span class="fa fa-caret-right"></span> 23-27</a></li>
                            <li><a href="/dashboard/28"><span class="fa fa-caret-right"></span> 28-34</a></li>
                            <li><a href="/dashboard/35"><span class="fa fa-caret-right"></span> 35-45</a></li>
                            <li><a href="/dashboard/46"><span class="fa fa-caret-right"></span> 46-54</a></li>
                            <li><a href="/dashboard/55"><span class="fa fa-caret-right"></span> 55+</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row stats">
                <div class="col-sm-3">
                    <strong>13</strong>
                    matches
                </div>
                <div class="col-sm-3">
                    <strong>8</strong>
                    male
                </div>
                <div class="col-sm-3">
                    <strong>5</strong>
                    female
                </div>
                <div class="col-sm-3">
                    <strong>207</strong>
                    matches made
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/testimonials/testimonial1.jpg" alt="testimonial" class="img-responsive img-circle" />
                </div>
                <div class="col-sm-6">
                    <h3>Dude MkDude</h3>
                    <strong>10km away</strong>
                    <em>•</em>
                    <span>Looking for a gym partner</span>
                    <div>
                        Hi! I'm a cool guy looking to get ripped with a lady who wants to improve our bodies together.
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-default btn-lg">Invite to {{ meet_type.verb }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/testimonials/testimonial2.jpg" alt="testimonial" class="img-responsive img-circle" />
                </div>
                <div class="col-sm-6">
                    <h3>Dude MkDude</h3>
                    <strong>10km away</strong>
                    <em>•</em>
                    <span>Looking for a gym partner</span>
                    <div>
                        Hi! I'm a cool guy looking to get ripped with a lady who wants to improve our bodies together.
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-default btn-lg">Invite to {{ meet_type.verb }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/testimonials/testimonial3.jpg" alt="testimonial" class="img-responsive img-circle" />
                </div>
                <div class="col-sm-6">
                    <h3>Dude MkDude</h3>
                    <strong>10km away</strong>
                    <em>•</em>
                    <span>Looking for a gym partner</span>
                    <div>
                        Hi! I'm a cool guy looking to get ripped with a lady who wants to improve our bodies together.
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-default btn-lg">Invite to {{ meet_type.verb }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/testimonials/testimonial4.jpg" alt="testimonial" class="img-responsive img-circle" />
                </div>
                <div class="col-sm-6">
                    <h3>Dude MkDude</h3>
                    <strong>10km away</strong>
                    <em>•</em>
                    <span>Looking for a gym partner</span>
                    <div>
                        Hi! I'm a cool guy looking to get ripped with a lady who wants to improve our bodies together.
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-default btn-lg">Invite to {{ meet_type.verb }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/testimonials/testimonial5.jpg" alt="testimonial" class="img-responsive img-circle" />
                </div>
                <div class="col-sm-6">
                    <h3>Dude MkDude</h3>
                    <strong>10km away</strong>
                    <em>•</em>
                    <span>Looking for a gym partner</span>
                    <div>
                        Hi! I'm a cool guy looking to get ripped with a lady who wants to improve our bodies together.
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-default btn-lg">Invite to {{ meet_type.verb }}</a>
                </div>
            </div>
        </div>
    </div>

    <div id="cta">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrapper clearfix">
                        <h4>Invite your friends to Rally8!</h4>
                        <a href="/invite" class="button button-small">Invite now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}