{% extends "main.twig" %}
{% block id %}about-us{% endblock %}
{% block content %}
    <div id="info">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <i class="heckabig {{ meet_type.icon_url }}"></i>
                </div>
                <div class="col-md-8">
                    <h1>Welcome {{ user.username }}!</h1>
                    <p>
                        You're currently looking for a <b>{{ meet_type.name }}</b>. The results the match your criteria best are listed below.
                    </p>
                    <a href="/dashboard/preferences" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span> Change activity</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="{% if gender == 'A' %}fa fa-users{% elseif gender == 'F' %}fa fa-female{% else %}fa fa-male{% endif %}"></span> {{ genders[gender] }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for url, name in genders %}
                                {%  if url != gender %}
                                     <li>
                                         <a href="/dashboard/{{ url }}">
                                             <span class="{% if url == 'A' %}fa fa-users{% elseif url == 'F' %}fa fa-female{% else %}fa fa-male{% endif %}"></span>
                                             {{ name }}
                                         </a>
                                     </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-signal"></span> {{ ages[age] }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for url, name in ages %}
                                {%  if url != age %}
                                    <li>
                                        <a href="/dashboard/{{ url }}">
                                            <span class="fa fa-caret-right"></span>
                                            {{ name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row stats">
                <div class="col-sm-3">
                    <strong>&nbsp;</strong>
                </div>
                <div class="col-sm-3">
                    <strong>{{ males }}</strong>
                    male
                </div>
                <div class="col-sm-3">
                    <strong>{{ females }}</strong>
                    female
                </div>
                <div class="col-sm-3">
                    <strong>{{ total_matches }}</strong>
                    matches made
                </div>
            </div>
            <br>

            {% for match in matches %}
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">
                        <img src="/images/users/{{ match.pic_url }}" alt="pretty thang" class="img-responsive img-circle img-user" />
                    </div>
                    <div class="col-sm-6">
                        <h3>{{ match.username }}</h3>
                        <strong>close?</strong>
                        <em>•</em>
                        <span>{{ match.liner }}</span>
                        <div>
                            {{ match.bio }}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        {%  if match.matched == 0 %}
                            <a href="/invite/{{ match.id }}/{{ match.meet_type_id }}" class="btn btn-default btn-lg" style="margin-top: 30%;">Invite to {{ meet_type.verb }}</a>
                        {% else %}
                            <a href="/message/{{ match.id }}" class="btn btn-default btn-lg" style="margin-top: 30%;">Invited to {{ meet_type.verb }}! <3</a>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endfor %}

            <div class="row">
                <div id="cta">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="wrapper clearfix">
                                    <h4>Invite your friends to Rally8!</h4>
                                    <a href="/invite" class="button button-small">Invite now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-spacer"></div>


{% endblock %}